/*#################CONTACT PAGE _contact.html_#################*/
.one_half, .two_third {
    float: right;
    margin-right: auto;
    margin-left: 4%;
}

.last {
    clear: left;
    margin-right: auto;
    margin-left: 0px !important;
}

.sky-form .label {
    text-align: right;
}

.sky-form .checkbox {
    float: right;
}

.address_info {
    float: right;
}

.one_fourth {
    width: 46%;
}
