@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Yekan.woff') format('woff'),
         url('../fonts/Yekan.ttf') format('truetype'),
         url('../fonts/Yekan.svg#BYekan') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
	font-family: 'Droid Arabic Naskh';
	src: url('../fonts/DroidNaskh-Regular.ttf');
}

@font-face {
	font-family: 'Droid Arabic Naskh';
	font-weight: bold;
	src: url('../fonts/DroidNaskh-Bold.ttf');
}

body, h1, h2 {
    font-family: 'yekan', 'Droid Arabic Naskh', 'Iranian Sans', 'Ubuntu';
}

.ms-layer {
    font-family: 'Droid Arabic Naskh', 'Iranian Sans', 'Ubuntu', 'DejaVu Sans', 'Tahoma';
}

/*Logo*/
.logo {
    float: right;
}

#trueHeader #logo {
background: transparent url("../images/colors/slate/logo.png")/*url("../images/logo.png")*/ no-repeat scroll right bottom
}

/*Menu*/
.pull-right {
    float: left !important;
}

.navbar-nav > li {
    float: right;
}

.container > .navbar-collapse {
    margin-left: -32px;
}

.dropdown-submenu > .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: auto;
    margin-right: -1px;
}

/*Mega Menu: About part to right side*/
.col-md-3 {
    float: right;
}

/*Top Nav bar*/
.top_nav .right ul {
    float: left;
    direction: rtl;
}

.top_nav .right li {
    float: right;
    margin: 0px 13px 0px 0px;
}

.top_nav .right li.link {
    float: right;
    margin-left: auto;
    margin-right: 18px;
}

/*====================*/
.container {
    direction: rtl;
}

.feature_section2 a  {
    float: left;
}

ul.tabs {
    float: right;
    margin-right: auto;
    margin-left: 4%;
}

.tabs-content {
    text-align: right;
}

ul.list_1 {
    float: right;
}

.feature_section7 i {
    float: right;
    margin-right: -18px;
    margin-left: 30px;
}

.feature_section8 .left, .img_left, .feature_section8 .right {
    float: right;
}

.feature_section11 strong {
    float: right;
    margin-left: auto;
    margin-right: 48px;
}

.feature_section11 .contbox {
    float: right;
}

.feature_section35 .left, .feature_section35 .left img {
    float: right;
}

.list_1 li i {
    margin-right: auto;
    margin-left: 8px;
}

.footer_graph {
    background: url("../images/footer-graph.png") no-repeat 900px top;
}


/**/
.rw-wrapper {
    float: right;
    line-height: 48px;
    font-family: 'yekan', 'Droid Arabic Naskh', 'Iranian Sans', 'Ubuntu';
}

.rw-words {
    text-indent: 10px;
}

/*FOOTER*/
.newsletter_two .left, .twitter_feeds_two .left {
    float: right;
}